ons-splitter-side {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.item {
  padding: 10px;
  line-height: 1;
}

.item-thum {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.item-title {
  font-size: 15px;
  font-weight: 500;
}

.item-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.3;
  margin: 4px 0 0 0;
  padding: 0 30px 0 0;
}

.item-label {
  font-size: 12px;
  color: #999;
  float: right;
}

