<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <title>Onsen UI 2.0 Quickstart</title>

    <link rel="stylesheet" href="../lib/onsenui/css/onsenui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../lib/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
    <link rel="stylesheet" href="app.css" type="text/css" media="all" />
    <script src="../lib/onsenui/js/onsenui.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/onsenui/js/angular-onsenui.js"></script>
    <script src="app.js"></script>
</head>

<body>
  <ons-splitter>
    <ons-splitter-side var="menu" side="left" width="200px" collapse swipeable>
      <ons-page>
        <ons-toolbar>
          <div class="center">Menu</div>
        </ons-toolbar>

        <ons-list>
          <ons-list-item>Item 1</ons-list-item>
          <ons-list-item>Item 2</ons-list-item>
          <ons-list-item>Item 3</ons-list-item>
          <ons-list-item>Item 4</ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content>
      <ons-navigator var="myNavigator">
        <ons-page>
          <ons-toolbar>
            <div class="left">
              <ons-toolbar-button ng-click="menu.open()">
                <ons-icon icon="ion-navicon" size="24px"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">Master Details</div>
          </ons-toolbar>

          <ons-list ng-controller="MasterController as master">
            <ons-list-item modifier="chevron" class="item" ng-repeat="item in master.items" ng-click="master.showDetail(item)">
              <ons-row>
                <ons-col width="60px">
                  <div class="item-thum"></div>
                </ons-col>
                <ons-col>
                  <header>
                    <span class="item-title">{{item.title}}</span>
                    <span class="item-label">{{item.label}}</span>
                  </header>
                  <p class="item-desc">{{item.desc}}</p>
                </ons-col>
              </ons-row>
            </ons-list-item>
          </ons-list>
        </ons-page>
      </ons-navigator>
    </ons-splitter-content>
  </ons-splitter>

  <ons-template id="detail.html">
    <ons-page ng-controller="DetailController as detail">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Details</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{detail.item.title}}</span>
                <span class="item-label">{{detail.item.label}}</span>
              </header>
              <p class="item-desc">{{detail.item.desc}}</p>
            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="doSomething()">
          <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
            Add a note
          </ons-list-item>
      </ons-list>

      <ons-list style="margin-top: 10px">
        <ons-list-item class="item" ng-repeat="i in [1,2,3]">
          <header>
            <span class="item-title">Lorem ipsum dolor sit amet</span>
          </header>
          <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>
  </ons-template>
</body>
</html>
